* {
  box-sizing: border-box;
}

h1 {
  display: block;
  font-family: 'Ceviche One', cursive;
  font-size: 50px;
  text-align: center;
  margin: 10px auto;
}

.container {
  display: flex;
  margin: 0 auto;
  width: 900px;
  justify-content: center;
}

.board {
  display: inline-block;
  padding: 0 auto ;
  margin: 0 auto;
  text-align: center;
  background-color: black;
  width: 559px;
  height: 570px;
}

.grids {
  display: inline-block;
  background-color: white;
  width: 32.8%;
  height: 32.8%;
  border: 2px solid black;
  padding: 10px;
} 

.grids:hover{
  background-color: lightgrey;
}

.X {
  background-image: url('images/naruto-logo.png');
  background-size: 175px 175px;
  background-repeat: no-repeat;
}


.O {
  background-image: url('images/sasuke-logo.png');
  background-size: 180px 180px;
  background-repeat: no-repeat;
}

.p1, .p2 {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 150px;
  height: 130px;
  border: 2px solid grey;
  border-radius: 10px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: 'Fugaz One', cursive;
}

p {
  font-size: 20px;
  margin: 5px auto;
  font-family: 'Acme', sans-serif;
}

span {
  font-size: 25px;
  font-family: 'Acme', sans-serif;
}

img {
  display: block;
  height: 300px;
  width: 106px;
  margin: 0 auto;
}

.token {
  display: block;
  height: 90px;
  width: 90px;
  margin: 0 auto;
}

#headerPic {
  display: block;
  height: 50px;
  width: 100%;
}

.message {
  display: flex;
  font-family: 'Fugaz One', cursive;
  margin: 10px auto;
  font-size: 28px;
  color: purple;
  justify-content: center;
  border: 2px solid grey;
  border-radius: 10px;
}

button {
  display: block;
  margin: 0 auto;
  height: 35px;
  width: 100px;
  border-radius: 10px;
  font-size: 20px;
}


footer {
  text-align: center;
  margin: 25px auto;
}
